:root {
  --primary: #ffffff;             
  --primary-light: #a187c9;        
  --primary-dark: #5f4292;         
  --primary-contrast-light: #ffffff;  
  --primary-contrast-dark: #512da8;

  --gray-100: #ffffff;             
  --gray-200: #ede7f6;             
  --gray-300: #d1c4e9;             
  --gray-400: #b39ddb;             
  --gray-500: #9575cd;             
  --gray-600: #7e57c2;            
  --gray-700: #673ab7;             
  --gray-800: #512da8;             
  --gray-900: #311b92;            
}